<div class="modal fade" id="createDepositAccountModal" tabindex="-1" aria-labelledby="createDepositAccountModalLabel" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="createDepositAccountModalLabel">Add Deposit Account</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="js-validate needs-validation" method="post" action='add-account' novalidate>
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<div class="modal-body">
					<div class="mb-4">
						<label class="form-label" for="addAccountName">Account Name <i class="bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="a name for this account"></i></label>
						<input type="text" class="form-control form-control-lg" name="addAccountName" id="addAccountName" placeholder="account name" aria-label="account name" required>
						<span class="invalid-feedback">Please enter a name.</span>
					</div>
					<div class="mb-4">
						<label class="form-label" for="signupSrPassword">Account Type <i class="bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="what kind of account is this"></i></label>
						<div class="tom-select-custom mb-4">
							<select class="js-select form-select form-control-lg" name="addAccountType" id="locationLabel">
								<option value="Checking Account" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Checking Account</span></span>'>Checking Account</option>
								<option value="Savings Account" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Savings Account</span></span>'>Savings Account</option>
								<option value="Other Account" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Other Account</span></span>'>Other Account</option>
							</select>
						</div>
						<span class="invalid-feedback">Please choose a type.</span>
					</div>
				</div>
				<div class="modal-footer">
					<div class="row align-items-sm-center flex-grow-1 mx-n2">
						<div class="col-sm mb-2 mb-sm-0">
							<p class="modal-footer-text">What is this? <i class="bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="deposit accounts are a way for you to organize your sources of income"></i></p>
						</div>
						<div class="col-sm-auto">
							<div class="d-flex gap-3">
								<button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
								<button type="submit" class="btn btn-primary">Add</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>