<div class="modal fade" id="createIncomeModal" tabindex="-1" aria-labelledby="createIncomeModalLabel" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="createIncomeModalLabel">Add Source of Income</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="js-validate needs-validation" method="post" action='add-account' novalidate>
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<div class="modal-body">
					<div class="mb-4">
						<label class="form-label" for="addAccountName">Income Name</label>
						<input type="text" class="form-control form-control-lg" name="addAccountName" id="addAccountName" placeholder="account name" aria-label="account name" required>
						<span class="invalid-feedback">Please enter a name.</span>
					</div>
					<div class="mb-4">
						<label class="form-label" for="signupSrPassword">Source</label>
						<div class="tom-select-custom mb-4">
							<select class="js-select form-select form-control-lg" name="addAccountType" id="locationLabel">
								<option value="Salary" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Salary</span></span>'>Salary</option>
								<option value="Self Employment" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Self Employment</span></span>'>Self Employment</option>
								<option value="Rental Income" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Rental Income</span></span>'>Rental Income</option>
								<option value="Investment Income" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Investment Income</span></span>'>Investment Income</option>
								<option value="Retirement Income" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Retirement Income</span></span>'>Retirement Income</option>
								<option value="Alimony/Child Support" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Alimony/Child Support</span></span>'>Alimony/Child Support</option>
								<option value="Government Benefits" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Government Benefits</span></span>'>Government Benefits</option>
								<option value="Freelance/Contracting" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Freelance/Contracting</span></span>'>Freelance/Contracting</option>
								<option value="Royalties" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Royalties</span></span>'>Royalties</option>
								<option value="Tips/Gratuities" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Tips/Gratuities</span></span>'>Tips/Gratuities</option>
								<option value="Other Income" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Other Income</span></span>'>Other Income</option>
							</select>
						</div>
						<span class="invalid-feedback">Please choose a source.</span>
					</div>
					<div class="mb-4">
						<label class="form-label" for="signupSrPassword">Frequency</label>
						<div class="tom-select-custom mb-4">
							<select class="js-select form-select form-control-lg" name="addAccountType" id="locationLabel">
								<option value="Daily" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Daily</span></span>'>Daily</option>
								<option value="Weekly" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Weekly</span></span>'>Weekly</option>
								<option value="Bi-Weekly" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Bi-Weekly</span></span>'>Bi-Weekly</option>
								<option value="Monthly" data-option-template='<span class="d-flex align-items-center"><span class="text-truncate">Monthly</span></span>'>Monthly</option>
							</select>
						</div>
						<span class="invalid-feedback">Please choose a frequency.</span>
					</div>
                    <div id="accountType" class="row mb-4">
                        <label class="col-sm-3 col-form-label form-label">Tax Status</label>
                        <div class="col-sm-9">
                            <div class="input-group input-group-sm-vertical">
                                <label class="form-control" for="userAccountTypeRadio1">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="userAccountTypeRadio" id="userAccountTypeRadio1" checked="">
                                        <span class="form-check-label">Taxable</span>
                                    </span>
                                </label>
                                <label class="form-control" for="userAccountTypeRadio2">
                                    <span class="form-check">
                                        <input type="radio" class="form-check-input" name="userAccountTypeRadio" id="userAccountTypeRadio2">
                                        <span class="form-check-label">Exempt</span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
					<div class="mb-4">
						<label class="form-label" for="signupSrPassword">Deposit Account</label>
						<div class="tom-select-custom mb-4">
							<select class="js-select form-select form-control-lg" name="addAccountType" id="locationLabel">
								<option value="Checking Account" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="/static/assets/svg/brands/bank-of-america-icon.svg" alt="checking account"><span class="text-truncate">Checking Account</span></span>'>Checking Account</option>
								<option value="Other" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle me-2" src="/static/assets/svg/brands/bank-of-america-icon.svg" alt="other"><span class="text-truncate">Other</span></span>'>Other</option>
							</select>
						</div>
						<span class="invalid-feedback">Please choose an account type.</span>
					</div>

                    <div class="mb-4">
                        <label for="priceNameLabel" class="form-label">Income Amount</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="priceName" id="priceNameLabel" placeholder="0.00" aria-label="0.00">
                            <div class="input-group-append">
                                <div class="tom-select-custom">
                                    <select class="js-select form-select" data-hs-tom-select-options='{
                                        "searchInDropdown": false,
                                        "hideSearch": true,
                                        "dropdownWidth": "7rem",
                                        "dropdownWrapperClass": "tom-select-custom tom-select-custom-end"
                                    }'>
                                        <option value="USD" selected>USD</option>
                                        <option value="AED">AED</option>
                                        <option value="AFN">AFN</option>
                                        <option value="ALL">ALL</option>
                                        <option value="AMD">AMD</option>
                                        <option value="ANG">ANG</option>
                                        <option value="AOA">AOA</option>
                                        <option value="ARS">ARS</option>
                                        <option value="AUD">AUD</option>
                                        <option value="AWG">AWG</option>
                                        <option value="AZN">AZN</option>
                                        <option value="BAM">BAM</option>
                                        <option value="BBD">BBD</option>
                                        <option value="BDT">BDT</option>
                                        <option value="BGN">BGN</option>
                                        <option value="BIF">BIF</option>
                                        <option value="BMD">BMD</option>
                                        <option value="BND">BND</option>
                                        <option value="BOB">BOB</option>
                                        <option value="BRL">BRL</option>
                                        <option value="BSD">BSD</option>
                                        <option value="BWP">BWP</option>
                                        <option value="BZD">BZD</option>
                                        <option value="CAD">CAD</option>
                                        <option value="CDF">CDF</option>
                                        <option value="CHF">CHF</option>
                                        <option value="CLP">CLP</option>
                                        <option value="CNY">CNY</option>
                                        <option value="COP">COP</option>
                                        <option value="CRC">CRC</option>
                                        <option value="CVE">CVE</option>
                                        <option value="CZK">CZK</option>
                                        <option value="DJF">DJF</option>
                                        <option value="DKK">DKK</option>
                                        <option value="DOP">DOP</option>
                                        <option value="DZD">DZD</option>
                                        <option value="EGP">EGP</option>
                                        <option value="ETB">ETB</option>
                                        <option value="EUR">EUR</option>
                                        <option value="FJD">FJD</option>
                                        <option value="FKP">FKP</option>
                                        <option value="GBP">GBP</option>
                                        <option value="GEL">GEL</option>
                                        <option value="GIP">GIP</option>
                                        <option value="GMD">GMD</option>
                                        <option value="GNF">GNF</option>
                                        <option value="GTQ">GTQ</option>
                                        <option value="GYD">GYD</option>
                                        <option value="HKD">HKD</option>
                                        <option value="HNL">HNL</option>
                                        <option value="HRK">HRK</option>
                                        <option value="HTG">HTG</option>
                                        <option value="HUF">HUF</option>
                                        <option value="IDR">IDR</option>
                                        <option value="ILS">ILS</option>
                                        <option value="INR">INR</option>
                                        <option value="ISK">ISK</option>
                                        <option value="JMD">JMD</option>
                                        <option value="JPY">JPY</option>
                                        <option value="KES">KES</option>
                                        <option value="KGS">KGS</option>
                                        <option value="KHR">KHR</option>
                                        <option value="KMF">KMF</option>
                                        <option value="KRW">KRW</option>
                                        <option value="KYD">KYD</option>
                                        <option value="KZT">KZT</option>
                                        <option value="LAK">LAK</option>
                                        <option value="LBP">LBP</option>
                                        <option value="LKR">LKR</option>
                                        <option value="LRD">LRD</option>
                                        <option value="LSL">LSL</option>
                                        <option value="MAD">MAD</option>
                                        <option value="MDL">MDL</option>
                                        <option value="MGA">MGA</option>
                                        <option value="MKD">MKD</option>
                                        <option value="MMK">MMK</option>
                                        <option value="MNT">MNT</option>
                                        <option value="MOP">MOP</option>
                                        <option value="MRO">MRO</option>
                                        <option value="MUR">MUR</option>
                                        <option value="MVR">MVR</option>
                                        <option value="MWK">MWK</option>
                                        <option value="MXN">MXN</option>
                                        <option value="MYR">MYR</option>
                                        <option value="MZN">MZN</option>
                                        <option value="NAD">NAD</option>
                                        <option value="NGN">NGN</option>
                                        <option value="NIO">NIO</option>
                                        <option value="NOK">NOK</option>
                                        <option value="NPR">NPR</option>
                                        <option value="NZD">NZD</option>
                                        <option value="PAB">PAB</option>
                                        <option value="PEN">PEN</option>
                                        <option value="PGK">PGK</option>
                                        <option value="PHP">PHP</option>
                                        <option value="PKR">PKR</option>
                                        <option value="PLN">PLN</option>
                                        <option value="PYG">PYG</option>
                                        <option value="QAR">QAR</option>
                                        <option value="RON">RON</option>
                                        <option value="RSD">RSD</option>
                                        <option value="RUB">RUB</option>
                                        <option value="RWF">RWF</option>
                                        <option value="SAR">SAR</option>
                                        <option value="SBD">SBD</option>
                                        <option value="SCR">SCR</option>
                                        <option value="SEK">SEK</option>
                                        <option value="SGD">SGD</option>
                                        <option value="SHP">SHP</option>
                                        <option value="SLL">SLL</option>
                                        <option value="SOS">SOS</option>
                                        <option value="SRD">SRD</option>
                                        <option value="STD">STD</option>
                                        <option value="SZL">SZL</option>
                                        <option value="THB">THB</option>
                                        <option value="TJS">TJS</option>
                                        <option value="TOP">TOP</option>
                                        <option value="TRY">TRY</option>
                                        <option value="TTD">TTD</option>
                                        <option value="TWD">TWD</option>
                                        <option value="TZS">TZS</option>
                                        <option value="UAH">UAH</option>
                                        <option value="UGX">UGX</option>
                                        <option value="UYU">UYU</option>
                                        <option value="UZS">UZS</option>
                                        <option value="VND">VND</option>
                                        <option value="VUV">VUV</option>
                                        <option value="WST">WST</option>
                                        <option value="XAF">XAF</option>
                                        <option value="XCD">XCD</option>
                                        <option value="XOF">XOF</option>
                                        <option value="XPF">XPF</option>
                                        <option value="YER">YER</option>
                                        <option value="ZAR">ZAR</option>
                                        <option value="ZMW">ZMW</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>  
				</div>
				<div class="modal-footer">
					<div class="row align-items-sm-center flex-grow-1 mx-n2">
						<div class="col-sm mb-2 mb-sm-0">
							<p class="modal-footer-text">What is this? <i class="bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Save a username/password combination or account credential to your profile"></i></p>
						</div>
						<div class="col-sm-auto">
							<div class="d-flex gap-3">
								<button type="button" class="btn btn-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
								<button type="submit" class="btn btn-primary">Add</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>